<div class="container aboutpage">
    <div class="row align-items-center">
        <div class="col-4  gy-5">
            <figure>
                <img src="https://scontent-mad1-1.xx.fbcdn.net/v/t1.18169-9/15747591_1904771746418468_8447041920589858416_n.jpg?_nc_cat=110&ccb=1-5&_nc_sid=730e14&_nc_ohc=9QFdx6NzIS8AX_ZT9xF&_nc_ht=scontent-mad1-1.xx&oh=00_AT-NTn-YxW8KysgTqPOSMaslgSIDmdyHqSxxb8BY00YbTg&oe=6221AD29" alt="">
            </figure>
        </div>
        <div class="col-8 gy-5 ">
            <article class='abouttext'>
                <h2>
                    ¿Quien es Germán?
                </h2>
                <p>
                    Desde hace más de 12 años profesor de desarrollo web actualmente instruyendo a los siguientes mejores programadores web.
                    Realmente conociddo por ser el padre de <a href="https://www.facebook.com/Popino-el-perro-1888565851372391" class='popinoelperro' target="_blank">Popino el perro</a> 
                </p>
            </article>
        </div>
    </div>
</div>