<div class="container">
    <div class="row justify-content-center ">
        <div class="col-5 d-flex flex-column gy-5 home">
            <h1>FUEGOTE</h1>
            <img src="/imgs/german-fire.png" alt="" class='fade-in'>
            <div class="btn-group" role="group" aria-label="Basic outlined example">
                <a type="button" class="btn btn-outline-primary" href="/photo-gallery">Photo Gallery</a>
                <a type="button" class="btn btn-outline-primary" href="/about">About</a>
                <a type="button" class="btn btn-outline-primary" href="/works">Works</a>
            </div>
        </div>
    </div>
</div>