<div class="container works">
    <div class="row align-items-center">
        <div class="col-4 gy-5">
            <img src="https://media-exp1.licdn.com/dms/image/C4E22AQHTBeMfG6K6fg/feedshare-shrink_800/0/1642520361841?e=1646265600&v=beta&t=QWca1F7vOFX59jn4zAZZcoX_aR9w_b4vw-YJ4ERNzFI" alt="">
            <h5>De cero a MERN</h5>
        </div>
        <div class="col-4 gy-5">
            <img src="https://media-exp1.licdn.com/dms/image/C4D2DAQGk9fwVlhxuRA/profile-treasury-image-shrink_480_480/0/1597133190734?e=1643900400&v=beta&t=Y8jsMHXKbFJf97L14r7tvWYJR6PHyD4StxIpCCQZ9oQ" alt="">
            <h5>We build</h5>
        </div>
        <div class="col-4 gy-5">
            <img src="https://scontent-mad1-1.xx.fbcdn.net/v/t1.6435-9/88268528_906876419748104_7961323792737763328_n.jpg?_nc_cat=105&ccb=1-5&_nc_sid=e3f864&_nc_ohc=O-C5vRK4kysAX_PAKy6&_nc_ht=scontent-mad1-1.xx&oh=00_AT8aEHDeECaFeEh9YxUmMDD0Djv9e6EmBGaUPSLZnuFqLQ&oe=621F677B" alt="">
            <h5>Code n Pizza</h5>
        </div>
        <div class="col-4 gy-5">
            <img src="/imgs/german-talking.png" alt="">
            <h5>German in Ironhack</h5>
        </div>
    </div>
</div>